

.container2{
float : right;
top : 50%;
transform: translate(-50%,-50%);
width:400px;
border-radius:5px;
box-sizing : border-box;
overflow: hidden;

}

.signIn{
width: 100%;
height : 50px;
background : #247ebf;
color : #fff;
text-align : center;
Line-height : 50px;
font-size : 20px;
cursor : pointer;
box-shadow: 0 5px 10px rgba(0,0,0,.5);
}



.fold form input[type = "text"],
.fold form input[type="password"]
{
width: 100%;
margin-bottom: 20px;
height: 40px;
padding: 10px 20px;
box-sizing :  border-box;
border-radius: 40px;
box-shadow: none;
outline: none;
color : #fff;
background: transparent;
}
